{%extends 'base.html' %}
{% block content %}

<div class="container-fluid">
    <div class="row">
        <div class="col-md-2">
            <h3>GENERAL NEWS</h3>
            <ul>
                {% for gen_news in general%}
                <li>{{gen_news.name}}</li>
            </ul>
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="row">
        <div class="clo-md-2">
            <h3>TECHNOLOGY NEWS</h3>
            <ul>
                {% for tech_news in technology %}
                <li>{{tech_news.name}}</li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-2">
            <h3>BUSINESS NEWS</h3>
            <ul>
                {% for bus_news in business %}
                <li>{{bus_news.name}}</li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-2">
            <h3>ENTERTAINMENT NEWS</h3>
            <ul>
                {% for ent_news in entertainment %}
                <li>{{ent_news.name}}</li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-2">
            <h3>SPORTS NEWS</h3>
            <ul>
                {% for sports_news in sports %}
                <li>{{sports_news.name}}</li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>

{% endblock %}