{%extends 'base.html' %}
{% block content %}

<div class="container-fluid">
    <div class="row">
        <div class="col-md-2">
            <h3>GENERAL NEWS</h3>

            {% for gen_news in general%}
            <h4>{{gen_news.name}}</h4>
            <p>{{gen_news.description}}</p>
            {% endfor %}

        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-2 center center">
            <h3>TECHNOLOGY NEWS</h3>

            {% for tech_news in technology %}
            <h4>{{tech_news.name}}</h4>
            <p>{{tech_news.description}}</p>
            {% endfor %}

        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-2">
            <h3>BUSINESS NEWS</h3>

            {% for bus_news in business %}
            <h4>{{bus_news.name}}</h4>
            <p>{{bus_news.description}}</p>
            {% endfor %}

        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-2">
            <h3>ENTERTAINMENT NEWS</h3>

            {% for ent_news in entertainment %}
            <h4>{{ent_news.name}}</h4>
            <p>{{ent_news.description}}</p>
            {% endfor %}

        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-2">
            <h3>SPORTS NEWS</h3>

            {% for sports_news in sports %}
            <h4>{{sports_news.name}}</h4>
            <p>{{sports_news.description}}</p>
            {% endfor %}

        </div>
    </div>
</div>

{% endblock %}